/* Estilizando o bloco do 'footer' */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;


    .footer__content {


        .footer__title {
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .footer__subtitle {
            color: white;
            font-size: 16px;
            font-weight: 600;
        }    
    }

    .button {
            
        button {
            background-color: white;
            color: #2c2c2c;
            font-size: 16px;
            font-weight: bold;
            padding: 14px;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            flex-shrink: 0;
        }
    }
}