* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

/* Estilizando a barra de navegação */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;

    /* Estilizacao do .sidebar__navigation */

    .sidebar__navigation {
        background-color: #2c2c2c;
        border-radius: 6%;
        padding: 16px 0 0 16px;

        a img {
            width: 100px;
            padding: 0 0 0 10px;
        }
    }

    /* Estilizacao do .sidebar__navigation--search */

    .sidebar__navigation--search {


        ul {
            margin-top: 20px;
            padding: 0 20px 10px 20px;

            li {
                padding-bottom: 16px;

                a {
                    color: #b3b3b3;
                    font-weight: 600;
                    font-size: 14px;
                    font-family: "DM Sans", sans-serif;
                }
            }
        }
    }

    /* Estilizacao do .sidebar__library  */

    .section__library--playlist {
        background-color: #2c2c2c;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 4px 8px;
        color: #b3b3b3;
        font-weight: 600;
        font-size: 14px;
        margin-top: 10px;

        /* Estilizando o bloco da 'library__content' */

        .library__content {
            display: flex;
            justify-content: space-between;

            .library__button {
                display: flex;
                margin-right: 10px;
                color: #b3b3b3;
                background-color: transparent;
                border: none;
                font-size: 14px;
                font-weight: 700;
                font-family: "DM Sans", sans-serif;
                text-align: center;
                text-decoration: none;
                text-transform: none;
                padding: 20px 10px;
                cursor: pointer;


                .fa {
                    font-size: 20px;
                    margin-right: 10px;
                    padding-right: 8px;
                }
            }

            .fa-plus {
                margin: 24px 10px;
                cursor: pointer;
            }

        }

        /* Estilizando o bloco da 'playlist__content' */

        .section__playlist {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            background-color: #1c1c1c;
            color: #b3b3b3;
            font-weight: 600;
            font-size: 14px;
            margin: 8px 0;
            padding: 16px 20px;
            border-radius: 10px;

            .playlist__content {
                display: flex;
                flex-direction: column;

                .text {
                    padding-bottom: 14px;
                    color: white;
                    font-family: "DM Sans", sans-serif;

                    .title {
                        font-weight: 700;
                    }

                    .subtitle {
                        font-weight: 500;
                        font-size: 12px;
                    }
                }

                .playlist__button {
                    display: flex;
                    justify-content: center;
                    background-color: white;
                    color: black;
                    border-radius: 20px;
                    font-size: 12px;
                    font-weight: 700;
                    font-family: "DM Sans", sans-serif;
                    padding: 10px;
                    margin-top: 12px;
                    border: none;
                    width: 113px;
                    cursor: pointer;
                }
            }
        }

        /* Estilizando o bloco dos 'cookies' */

        .cokkies {
            margin: 25px 20px;
            
            a {
                color: #b3b3b3;
                font-weight: 500;
                font-size: 12px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        /* Estilizando o bloco do 'language' */

        .languages {

            .languages__button{
                align-items: center;
                background-color: transparent;
                border: 1px solid #878787;
                color: white;
                font-weight: 700;
                width: 170px;
                margin: 8px;
                padding: 8px;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }

}